*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html , body , #root {
  height: 100%;
}

#root{
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}

header {
  background: #000000;
  color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a{
  color: #fff;
  text-decoration: none;
}
